<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Upload File</title>
</head>
<body>
<h1>Upload File</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label>Name :<input type="text" name="name"></label><br>
    <label>File :<input type="file" name="file"></label><br>
    <input type="submit" value="Upload">
</form>
</body>
</html>